flows.json
[{"id":"14841a0b.cdfce6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2a6e6eac.6a3292","type":"ui_form","z":"14841a0b.cdfce6","name":"","label":"","group":"c6841ed9.e9a9e","order":1,"width":0,"height":0,"options":[{"label":"News","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":280,"wires":[["75c4f7c9.22cb68"]]},{"id":"a8729d64.bce7f","type":"watson-discovery-v1","z":"14841a0b.cdfce6","name":"","environmentname":"","environmentId":"system","collectionId":"news-en","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/1c12f158-bf58-4be4-9962-77b1a838dfbd","x":340,"y":220,"wires":[["9a988e34.90ef2","656b56f.ac48ba8","20403e39.556482","c730a702.3b4c28","93e541d0.195f6","95727d6b.93323","f66b7a13.b1e908"]]},{"id":"75c4f7c9.22cb68","type":"function","z":"14841a0b.cdfce6","name":"Input","func":"msg={\n    discoveryparams:\n{\n    \"environment_id\":\"system\",\n    \"query\":msg.payload.input\n}\n}\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":280,"wires":[["a8729d64.bce7f"]]},{"id":"9a988e34.90ef2","type":"function","z":"14841a0b.cdfce6","name":"text","func":"msg.payload=msg.search_results.results[0].text\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":40,"wires":[["2c671215.7e9fbe","8d4760c6.ea24c","947b08e5.e7c548"]]},{"id":"2c671215.7e9fbe","type":"debug","z":"14841a0b.cdfce6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":20,"wires":[]},{"id":"656b56f.ac48ba8","type":"function","z":"14841a0b.cdfce6","name":"author","func":"msg.payload=msg.search_results.results[0].author\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":100,"wires":[["15051345.3355dd"]]},{"id":"8d4760c6.ea24c","type":"ui_text","z":"14841a0b.cdfce6","group":"c6841ed9.e9a9e","order":3,"width":"14","height":"4","name":"","label":"search result","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":60,"wires":[]},{"id":"15051345.3355dd","type":"ui_text","z":"14841a0b.cdfce6","group":"c6841ed9.e9a9e","order":2,"width":"14","height":"4","name":"","label":"author","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":100,"wires":[]},{"id":"20403e39.556482","type":"function","z":"14841a0b.cdfce6","name":"main page url","func":"msg.payload=msg.search_results.results[0].mainpageurl\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":160,"wires":[["1db6ee21.3d6332"]]},{"id":"c730a702.3b4c28","type":"function","z":"14841a0b.cdfce6","name":"url","func":"msg.payload=msg.search_results.results[0].url\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":200,"wires":[["3fe551d8.419e0e"]]},{"id":"93e541d0.195f6","type":"function","z":"14841a0b.cdfce6","name":"score","func":"msg.payload=msg.search_results.results[0].enriched_text.sentiment.document.score\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":260,"wires":[["1d7e3349.53b7fd","1a79a26c.48656e"]]},{"id":"95727d6b.93323","type":"function","z":"14841a0b.cdfce6","name":"label","func":"msg.payload=msg.search_results.results[0].enriched_text.sentiment.document.label\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":320,"wires":[["c95bc93c.92ad88"]]},{"id":"f66b7a13.b1e908","type":"debug","z":"14841a0b.cdfce6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":280,"y":160,"wires":[]},{"id":"f62f7787.180228","type":"debug","z":"14841a0b.cdfce6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":400,"wires":[]},{"id":"320cc0c0.4ec48","type":"function","z":"14841a0b.cdfce6","name":"sentiment","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":480,"wires":[["17c25c5d.432a24"]]},{"id":"b246c037.a1339","type":"function","z":"14841a0b.cdfce6","name":"positive","func":"msg.payload=msg.sentiment.positive.length;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":540,"wires":[["f8522a03.b80a08"]]},{"id":"2a232d55.a8b872","type":"function","z":"14841a0b.cdfce6","name":"negative","func":"msg.payload=msg.sentiment.negative.length;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":600,"wires":[["3b4ec708.526d58"]]},{"id":"17c25c5d.432a24","type":"ui_chart","z":"14841a0b.cdfce6","name":"","group":"c6841ed9.e9a9e","order":5,"width":"3","height":"7","label":"sentimental score","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":480,"wires":[[]]},{"id":"f8522a03.b80a08","type":"ui_chart","z":"14841a0b.cdfce6","name":"","group":"c6841ed9.e9a9e","order":4,"width":"3","height":"7","label":"positivechart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":770,"y":540,"wires":[[]]},{"id":"3b4ec708.526d58","type":"ui_chart","z":"14841a0b.cdfce6","name":"","group":"c6841ed9.e9a9e","order":3,"width":"3","height":"7","label":"negativechart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":600,"wires":[[]]},{"id":"c95bc93c.92ad88","type":"ui_text","z":"14841a0b.cdfce6","group":"c6841ed9.e9a9e","order":6,"width":0,"height":0,"name":"","label":"label","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":320,"wires":[]},{"id":"1d7e3349.53b7fd","type":"ui_text","z":"14841a0b.cdfce6","group":"c6841ed9.e9a9e","order":8,"width":0,"height":0,"name":"","label":"label","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":240,"wires":[]},{"id":"3fe551d8.419e0e","type":"ui_text","z":"14841a0b.cdfce6","group":"c6841ed9.e9a9e","order":9,"width":0,"height":0,"name":"","label":"url","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":200,"wires":[]},{"id":"1db6ee21.3d6332","type":"ui_text","z":"14841a0b.cdfce6","group":"c6841ed9.e9a9e","order":10,"width":0,"height":0,"name":"","label":"main page url","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":160,"wires":[]},{"id":"1a79a26c.48656e","type":"ui_gauge","z":"14841a0b.cdfce6","name":"","group":"c6841ed9.e9a9e","order":7,"width":0,"height":0,"gtype":"gage","title":"sentimental score","label":"units","format":"{{value}}","min":"-2","max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":280,"wires":[]},{"id":"947b08e5.e7c548","type":"sentiment","z":"14841a0b.cdfce6","name":"","property":"payload","x":340,"y":520,"wires":[["f62f7787.180228","320cc0c0.4ec48","b246c037.a1339","2a232d55.a8b872"]]},{"id":"c6841ed9.e9a9e","type":"ui_group","z":"","name":"IBM","tab":"52fce15c.66d92","order":1,"disp":true,"width":"14","collapse":false},{"id":"52fce15c.66d92","type":"ui_tab","z":"","name":"IBM","icon":"dashboard","disabled":false,"hidden":false}]